.about {
  padding-bottom: 49px;
}

.about__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .about__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 32px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.about__item {
  margin-bottom: 20px;
  padding-left: 80px;
}

.about__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .about__item {
    margin-bottom: 37px;
  }

  .about__item:last-child {
    margin-bottom: 37px;
  }
}

@media (min-width: $tablet-width) {
  .about__item {
    width: 325px;
    max-width: 325px;
    min-height: 280px;
    padding-top: 151px;
    padding-left: 0;
    padding-right: 20px;
    outline: 1px solid $black;
  }
}

.about__text {
  margin: 0;
  line-height: 18px;
  color: $special_dark-grey;
  font-family: "Lato", "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .about__text {
    max-width: 245px;
  }
}
