.address {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  padding-top: 26px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 26px;
}

.address__slogan {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $black-2;
  text-transform: uppercase;
}

.address__address {
  margin: 0;
  line-height: 20px;
  font-family: "Lato", "Arial", sans-serif;
}

.address__slogan, .address__address {
  max-width: 140px;
}
