.address__slogan {
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $black-2;
  text-transform: uppercase;
}

.address__address {
  line-height: 20px;
  font-family: "Lato", "Arial", sans-serif;
}
