.contacts {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.contacts__map-wrap {
  display: flex;
  background-color: $special_grey;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    width: 768px;
    max-width: 768px;
    max-height: 400px;
  }
}
