.form__label {
  font-size: 16px;
  color: $special_dark-grey;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
}

