.gift {
  background-color: $basic_green;
  background-image: url("../img/content/cat__washing_machine.jpg");
  background-repeat: no-repeat;
}

.gift__img {
  margin: 0;
  padding-top: 58.91px;
  padding-right: 101px;
  padding-bottom: 48.02px;
  padding-left: 101px;
}

.gift__slogan {
  padding-right: 61px;
  padding-bottom: 43.02px;
  padding-left: 58px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
}
