.header {
  border-bottom: 1px solid $border-grey;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 14px;
  }
}

.header__navigation {
  display: none;
}

@media (min-width: $tablet-width) {
  .header__navigation {
    display: block;
  }
}
