.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 56px;
}

@media (min-width: $tablet-width) {
  .logo__img {
    margin-right: 13px;
  }
}

.logo__img-text {
  height: 18px;
  width: 101px;
}

@media (min-width: $tablet-width) {
  .logo__img-text {
    display: flex;
    width: 128px;
    max-width: 128px;
    height: 24px;
  }
}
