@media (min-width: $tablet-width) {
  .logo__social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .logo {
    //margin-right: 160px;
  }
}

.logo__img {
  margin-right: 56px;
}

.logo__img-text {
  height: 18px;
  width: 101px;
}
