input,
textarea,
select,
button {
  font: inherit;
}

/* Позволяет задавать размеры так, как они указаны в макете */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: $special_dark-grey;
}

@media (min-width: $tablet-width) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}


.page--index {
  .header {
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .page--form,
  .page--catalog {
    .header {
      border-bottom: none;
    }
  }
}

.page--form,
.page--catalog {
  .contacts {
    background-color: $basic_grey;
  }
}

@media (min-width: $tablet-width) {
  .page--form .page__main {
    padding-left: 70px;
    padding-right: 70px;
  }
}


.page__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .page__title {
    padding-top: 65px;
    padding-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
