.promo {
  .container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    .container {
      position: relative;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.promo__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .promo__info {
    align-items: flex-start;
    padding-top: 40px;
    //padding-right: 120px;
    //padding-left: 120px;
  }
}

.promo__poster {
  position: absolute;
  z-index: 0;
  top: 0;
  background-color: $basic_green-2;
  background-image: url("../img/content/green_cat.jpg");
}

@media (min-width: $tablet-width) {
  .promo__poster {
   display: none;
 }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo__title {
    max-width: 420px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
    text-align: left;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 14px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo__slogan {
    color: $black;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__link {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  width: 100%;
}
