.request {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.request__header {
  padding-left: 20px;
  padding-right: 20px;
}

.request__text {
  margin: 0;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .request__text {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .request__form {
    margin-bottom: 24px;
  }
}

.request__submit {
  width: 100%;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .request__submit {
    width: 50%;
    margin-bottom: 0;
  }
}

.request__small {
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .request__small {
    padding-left: 64px;
    text-align: left;
    width: 50%;
  }
}
