.request__text {
  font-size: 14px;
  line-height: 18px;
  color: $black;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.request__small {
  font-size: 14px;
  line-height: 16px;
  color: $black;
  text-align: center;
}
