$basic_green: rgba(104, 183, 56, 1);
$basic_grey:rgba(242, 242, 242, 1);
$special_grey-2: rgba(255, 255, 255, 1);
$special_grey: rgba(234, 234, 234, 1);
// $special_grey-3:
$special_dark-grey: rgba(68, 68, 68, 1);
$special_dark-grey-2: rgba(17, 17, 17, 1);
// $status_error:
$basic_green-2: rgba(104, 183, 56, 0.85);
